.Calendar-wrapper {
    .body {
        .week-day-wrapper {

            ul {
                list-style-type:none;
                font-size: 20px;
            }

            ul {
                li {
                   display: inline-block;
                   margin-left: 35px;
                }
            }
        }


        .calendar-day-wrapper {
            ul {
                li {
                   display: inline-block;
                   margin-left: 10px;
                   border: 1px solid red;
                   border-radius: 50%;
                   width: 45px;
                   height: 45px;
                   text-align: center;
                   font-size: 16px
                }


                .day-num {
                    display: block;
                }

                .text {
                    display: block;
                    font-size: 10px
                }
            }
        }
       

       
    }
}
