.Calendar-wrapper {
    .body {
        .week-day-wrapper {

            ul {
                list-style-type:none;
                font-size: 20px;
            }

            ul {
                li {
                   display: inline-block;
                   margin-left: 12px;
                }
            }
        }


        .calendar-day-wrapper {
            ul {
                li {
                   display: inline-block;
                   margin-left: 10px;
                   border: 1px solid red;
                   width: 20px;
                   text-align: center
                }
            }
        }
       

       
    }
}
